{% extends 'base.html' %}

{% block title %}Novo Post{% endblock %}

{% block content %}
<h2>Postar algo novo </h2>

<form method="POST" class="card p-3">
  {% csrf_token %}
   

    <div class="container mt-4">
      <h2>Novo Post</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>



  <button type="submit" class="btn btn-success">Salvar</button>
</form>
{% endblock %}





