
{% extends 'base.html' %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>Lista de Posts</h2>
    <ul class="list-group">
  {% for post in posts %}
    <li class="list-group-item">
      
      <strong ><a href="{% url 'detalhe_post' post.pk %}" class="text-dark text-decoration-none">{{ post.autor.codinome }}</a></strong><br>
      {{ post.mensagem|linebreaksbr }}
      <br /><small class="text-muted">{{ post.criado_em|date:'d/m/Y H:i' }}</small>
      <div class="mt-2">
        <a href="{% url 'editar_post' post.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
        <a href="{% url 'excluir_post' post.pk %}" class="btn btn-sm btn-outline-danger">Excluir</a>
      </div>
    </li>
  {% endfor %}
</ul>
  </div>
{% endblock %}

